.electrotherapy {
    padding: 0 20px 40px;
}

.electrotherapy__title {
    text-align: center;
    font-size: clamp(2.5rem, 5vw, 3rem);
    padding: 100px 0;
}

.electrotherapy__info {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 20px;
    text-align: justify;
}

@media (max-width: 1000px) {
    .electrotherapy__info {
        width: 90%;
    }
}

@media (max-width: 600px) {
    .electrotherapy__info {
        width: 100%;
    }
}
