.cellulite__chapters-list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    a {
        color: var(--blue-clr) !important;
    }
}

.chapter {
    padding-top: 90px;
    font-weight: 600;
}

.cellulite__ol-list {
    list-style-position: inside;

    ::marker {
        font-weight: 600;
    }
}

.semi-tp-text {
    opacity: 0.5;
}
