@use "./../../mixins" as *;

.home__testimonials-title {
	padding: 120px 0 40px;
	font-size: clamp(1.5rem, 5vw, 3rem);
	color: var(--blue-clr);
}

.testimonials__link {
	display: inline-block;
	background: var(--blue-clr);
	padding: 10px;
	border-radius: 10px;
	color: #fff !important;
	margin-bottom: 20px;
}

.testimonials__card {
	background: #fff;
	border: 2px solid var(--blue-clr-2);
	min-height: 300px;
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.testimonials-card__header {
	@include flex(space-between, flex-start);
}

.testimonials-card__header-name {
	font-weight: 500;
	margin-bottom: 5px;
}

.testimonials-card__header-date {
	font-weight: 300;
}

.testimonials-card__rating {
	display: flex;
}
