.burger__container {
    display: none;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;
}

.burger-13 {
    position: relative;
    width: 40px;
    padding: 20px 0;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

.burger-13::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #000 50%, transparent 50%);
    transform: translateY(-10px);
    transition: all 0.3s;
}

.burger-13__center-line {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #000;
    transition: all 0.3s;
}

.burger-13::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent 50%, #000 50%);
    transform: translateY(10px);
    transition: all 0.3s;
}

.burger-13--active::before {
    transform: translateY(0);
    rotate: 45deg;
}

.burger-13__center-line--active {
    rotate: -45deg;
}

.burger-13--active::after {
    transform: translateY(0);
    rotate: 45deg;
}

@media (max-width: 600px) {
    .burger__container {
        display: flex;
    }
}
