:root {
    --blue-clr: #28a1ff;
    --blue-clr-1: rgba(40, 161, 255, 0.1);
    --blue-clr-2: rgba(40, 161, 255, 0.2);
    --blue-clr-3: rgba(40, 161, 255, 0.3);
    --blue-clr-4: rgba(40, 161, 255, 0.4);
    --blue-clr-8: rgba(40, 161, 255, 0.8);
}
