@use "./../../mixins" as *;

.offer__wrapper {
    padding: 40px;
    @include flex-center;
}

.offer__list {
    li {
        list-style: disc;
        list-style-position: inside;
        font-size: clamp(1rem, 2vw, 2rem);

        ul {
            padding-left: 20px;
        }
    }

    ::marker {
        color: var(--blue-clr);
    }
}

@media (max-width: 900px) {
    .offer__wrapper {
        padding: 40px 20px;
    }
}

@media (max-width: 600px) {
    .offer__wrapper {
        padding: 40px 10px;
    }
}
