.offer__wrapper {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us__offer-list {
    li {
        list-style: disc;
        list-style-position: inside;
        font-size: clamp(14px, 4vw, 16px);

        ul {
            padding-left: 20px;
        }
    }

    ::marker {
        color: var(--blue-clr);
    }
}

@media (max-width: 600px) {
    .offer__wrapper {
        padding: 15px;
    }
}
