@use "./../../mixins" as *;

.home {
	padding: 0 40px 0;
	background: #fff;
}

.home-hero {
	margin-bottom: 100px;
	text-align: center;
}

.home__wrapper {
	min-height: calc(100svh - 140px);
	@include flex-evenly-center;
}

.home__wrapper > div {
	@include flex-center-start;
	flex-direction: column;
	row-gap: 20px;
}

.home__title-container {
	text-align: left;
}

.home__title {
	font-size: clamp(1.25rem, 4vw, 1.5rem);
}

.home__sec-title {
	font-size: clamp(1.5rem, 4vw, 4rem);
}

.accent {
	background: linear-gradient(-90deg, var(--blue-clr), rgb(15, 239, 206));
	@include bg-clr-text;
}

.home__link-container {
	display: flex;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
}

.home__link {
	display: inline-block;
	background: var(--blue-clr);
	color: #fff !important;
	padding: 10px;
	border-radius: 10px;
	transition: all 0.3s;

	&:nth-child(2) {
		background: linear-gradient(-90deg, var(--blue-clr), rgb(15, 239, 206));
	}

	&:hover {
		scale: 1.05;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}
}

.home__img {
	width: clamp(200px, 25vw, 500px);
	border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	animation: morphing 20s infinite;
}

@keyframes morphing {
	0% {
		border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	}

	25% {
		border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
	}

	50% {
		border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
	}

	75% {
		border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
	}
}

// Scroll mouse btn
.home__scroll-mouse-btn {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 40px;
	border: 2px solid #000;
	border-radius: 10px;
}

.wheel {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	top: 5px;
	width: 5px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	background: #000;
	opacity: 1;
	animation: animateWheel 2s infinite;
}

@keyframes animateWheel {
	100% {
		transform: translate(-50%, 15px);
		opacity: 0;
	}
}

.home__services-title {
	padding: 120px 0 40px;
	font-size: clamp(1.5rem, 5vw, 3rem);
	color: var(--blue-clr);
}

.home__grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}

.home__service-card {
	position: relative;
	@include flex(space-between, "", column);
	padding: 20px;
	width: 100%;
	height: 200px;
	border-radius: 10px;
	background: linear-gradient(-90deg, var(--blue-clr), rgb(15, 239, 206));
	color: #fff !important;
	transition: all 0.3s;

	p {
		font-size: 1.5rem;
	}

	&:hover {
		scale: 1.025;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}
}

.grid-container__link {
	align-self: flex-end;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 5px;

	svg {
		transition: transform 300ms;
	}
}

.home__service-card:hover .grid-container__link > svg {
	transform: rotate(45deg);
}

@media (max-width: 1250px) {
	.home__grid-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 900px) {
	.home {
		padding: 0 20px 0;
	}

	.home__wrapper > div {
		row-gap: 10px;
	}

	.home__grid-container {
		gap: 20px;
	}
}

@media (width <= 800px) {
	.home__wrapper {
		flex-direction: column-reverse;
	}

	.home__title-container {
		text-align: center;
	}

	.home__wrapper > div {
		align-items: center;
	}
}

@media (max-width: 800px) {
	.home__grid-container {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (max-width: 600px) {
	.home {
		padding: 0 10px 0;
	}

	.home__grid-container {
		gap: 10px;
	}
}
