.about-us__grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 40px;
    padding: 40px;

    .team-member {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: max-content;
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 10px;
        p:not(:nth-of-type(2)) {
            opacity: 0.5;
        }
        a {
            opacity: 0.5;
            transition: color 200ms;
            &:hover {
                color: var(--blue-clr);
            }
        }
    }
}

.footer__nav-table {
    // width: 250px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;

    td {
        // border-top: 1px solid rgba(0, 0, 0, 0.25);
        // border-bottom: 1px solid rgba(0, 0, 0, 0.25);

        &:nth-of-type(2) {
            text-align: right;
        }
    }
}

@media (max-width: 1200px) {
    .about-us__grid-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}

@media (max-width: 900px) {
    .about-us__grid-container {
        padding: 40px 20px;
    }
}

@media (max-width: 600px) {
    .about-us__grid-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 40px 10px;
    }
}
