@use "@/scss/mixins" as *;

.banner {
	position: fixed;
	right: 40px;
	bottom: 40px;
	z-index: 11;
	width: min(calc(100% - 20px), 500px);
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.5);
	-webkit-backdrop-filter: blur(40px);
	backdrop-filter: blur(40px);
	border: 2px solid var(--blue-clr-2);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s;
}

.banner--show {
	opacity: 1;
	pointer-events: all;
}

.banner-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.banner__title {
	font-weight: 500;
}

.banner__close-btn {
	position: relative;
	color: #fff;
	background: var(--blue-clr);
	padding: 10px;
	border-radius: 10px;

	&:hover {
		background: var(--blue-clr-8);
	}
}

.banner__divider {
	height: 2px;
	margin: 10px 0;
	background: var(--blue-clr-2);
}

.banner__info {
	white-space: pre-wrap;
}

@media (max-width: 900px) {
	.banner {
		right: 20px;
		bottom: 20px;
	}
}

@media (max-width: 600px) {
	.banner {
		right: 10px;
		bottom: 10px;
		padding: 10px;
	}
}
