.lymphatic {
    padding: 0 20px;
    margin-bottom: 40px;
}

.lymphatic__title {
    text-align: center;
    font-size: clamp(2.5rem, 5vw, 3rem);
    padding: 100px 0;
}

.lymphatic__info {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 20px;
    text-align: justify;
}

.lymphatic__img-info {
    img {
        float: left;
        padding-right: 20px;
    }
}

.lymphatic__ol-list {
    li {
        list-style-position: inside;
    }

    ::marker {
        font-weight: 600;
    }
}

@media (max-width: 1000px) {
    .lymphatic__info {
        width: 90%;
    }
}

@media (max-width: 600px) {
    .lymphatic__info {
        width: 100%;
    }
}
