.page-info {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 20px;
    text-align: justify;
    padding: 40px;
}

@media (max-width: 1000px) {
    .page-info {
        width: 90%;
    }
}

@media (max-width: 600px) {
    .page-info {
        width: 100%;
        padding: 15px;
    }
}
