.price-list__wrapper {
	padding: 40px;
}

.prices__table {
	width: min(100%, 1000px);
	margin: 0 auto;
	border-collapse: collapse;
	font-size: clamp(14px, 3vw, 16px);

	tr:nth-child(odd) {
		background: var(--blue-clr-1);
	}

	tr:nth-child(even) {
		background: var(--blue-clr-4);
	}

	td {
		&:nth-of-type(1) {
			word-break: break-all;
		}
		&:nth-of-type(2) {
			white-space: nowrap;
		}

		padding: 10px;
		&:nth-last-of-type(1) {
			text-align: end;
			white-space: nowrap;
		}
	}
}

@media (max-width: 900px) {
	.price-list__wrapper {
		padding: 40px 20px;
	}
}

@media (max-width: 600px) {
	.price-list__wrapper {
		padding: 40px 10px;
	}
}
