@use "./../../mixins" as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 0 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header__logo {
    @include flex-center;
    img {
        width: 40px;
    }
    span {
        font-size: 1.5rem;
        color: #000;
    }
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.nav__link {
    position: relative;
    color: #000;
}

.nav__link::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 100%;
    transform: scaleX(0);
    background: var(--blue-clr);
    transition: transform 300ms ease-out;
}

.nav__link:hover:before {
    transform: scaleX(1);
}

.nav__link--active::before {
    transform: scaleX(1);
}

.nav__custom-select {
    position: relative;
    cursor: pointer;
}

.nav__custom-select-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5px;
}

.custom-select__down-arrow {
    width: 25px;
}

.nav__custom-options {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms;
}

.nav__custom-select:hover .nav__custom-options {
    pointer-events: all;
    opacity: 1;
}

.custom-options__down-arrow {
    display: none;
}

.nav__link-option {
    background: transparent;
    color: #000;
    border-radius: 5px;
    padding: 10px;
    font-weight: 300;
    white-space: nowrap;
}

.nav__link-option:hover {
    background: var(--blue-clr);
    color: #fff !important;
}

.nav__link-option--active {
    background: var(--blue-clr);
    color: #fff !important;
}

.nav__btn-link {
    color: #fff !important;
    background: var(--blue-clr);
    border-radius: 10px;
    padding: 10px 10px;
    transition: background-color 200ms;

    &:hover {
        background: var(--blue-clr-8);
    }
}

@media (max-width: 1000px) {
    .header__list {
        width: 60%;
    }

    .nav__btn {
        display: none;
    }
}

@media (max-width: 700px) {
    .header__list {
        display: none;
    }

    .header__list--mobile {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 5px;
        position: fixed;
        top: 70px;
        left: 0;
        z-index: 5;
        font-size: 2.5rem;
        flex-direction: column;
        width: 100%;
        height: calc(100% - 70px);
        background: #fff;
        padding: 20px;
    }

    .nav__custom-select {
        width: 100%;
    }

    .nav__custom-options {
        width: 100%;
        height: 300px;
        overflow-y: scroll;
    }

    .custom-options__down-arrow {
        display: initial;
        position: absolute;
        width: 30px;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;
        transition: opacity 200ms;
    }

    .custom-options__down-arrow--active {
        opacity: 0;
    }

    .custom-select__down-arrow {
        width: 40px;
    }

    .nav__link-option {
        font-size: 1.2rem;
    }

    .nav__btn {
        display: initial;
        align-self: center;
        margin-top: auto;
    }

    .nav__btn-link {
        font-size: 1rem;
    }
}

@media (max-width: 350px) {
    .header__logo {
        span {
            display: none;
        }
    }
}
