.loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    pointer-events: all;
    animation: hideLoading 500ms 2.2s forwards;
    img {
        width: clamp(60px, 12vw, 100px);
    }
    div {
        display: grid;
        grid-template-columns: 0fr;
        overflow: hidden;
        animation: revealLoadingText 700ms 1s forwards ease;
        p {
            font-size: clamp(1.5rem, 5vw, 2.5rem);
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

@keyframes revealLoadingText {
    to {
        grid-template-columns: 1fr;
    }
}

@keyframes hideLoading {
    to {
        opacity: 0;
        pointer-events: none;
    }
}
