@use "./../../mixins" as *;

.footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background: #fff;
    min-height: 100px;
    margin-top: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 40px;
}

.footer__header-logo {
    @include flex-center;
    img {
        width: 40px;
    }
    span {
        font-size: 1.5rem;
        color: #000;
    }
}

.footer__header-socials-list {
    @include flex-center;
    column-gap: 10px;
    a {
        transition: color 200ms;
        &:hover {
            color: var(--blue-clr);
        }
    }
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    p {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 10px;
    }

    ul {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }

    a {
        transition: color 200ms;

        &:hover {
            color: var(--blue-clr);
        }
    }
}

.footer__contact-list {
    img {
        vertical-align: middle;
        margin-right: 5px;
    }

    a {
        transition: color 200ms;

        &:hover {
            color: var(--blue-clr);
        }
    }
}

.footer__footer {
    @include flex-center;
    flex-direction: column;
}

.copyright {
    text-align: center;
    br {
        display: none;
    }
}

.creator {
    font-size: 0.9rem;
    a {
        color: var(--blue-clr) !important;
    }
}

@media (max-width: 900px) {
    .footer__nav {
        flex-direction: column;
        justify-content: center;
        row-gap: 50px;
        div:nth-of-type(1) {
            width: 100%;
        }
    }

    .footer__nav-table {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .footer {
        padding: 20px;
    }
}

@media (max-width: 500px) {
    .copyright {
        span {
            display: none;
        }
        br {
            display: initial;
        }
    }
}

@media (max-width: 450px) {
    .footer__header-logo {
        span {
            display: none;
        }
    }
}
