.footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background: #fff;
    //
    min-height: 100px;
    //
    margin-top: auto;
}

.footer__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 40px;
}

.footer__header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 40px;
    }
    span {
        font-size: 1.5rem;
        color: #000;
    }
}

.footer__header-socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    a {
        transition: color 200ms;
        &:hover {
            color: var(--blue-clr);
        }
    }
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    div:not(:nth-of-type(1)) {
        text-align: center;
    }
    p {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 10px;
    }

    ul {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }

    a {
        transition: color 200ms;
        &:hover {
            color: var(--blue-clr);
        }
    }
}

.footer__nav-table {
    border-collapse: collapse;
    text-align: left;

    td {
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        &:nth-of-type(1) {
            padding-right: 20px;
            color: var(--blue-clr);
        }
    }
}

.footer__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creator {
    a {
        transition: color 200ms;
        &:hover {
            color: var(--blue-clr);
        }
    }
}

@media (max-width: 600px) {
    .footer {
        padding: 20px;
    }

    .footer__nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 50px;
    }
}
