@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin bg-clr-text {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
