@use "reset" as *;
@use "variables" as *;
@use "fonts" as *;
@use "mixins" as *;

body {
	font-family: "Poppins", "Inter", serif;
}

#root {
	margin-top: 80px;
	background: #fff;
}

.none {
	display: none;
}

.wrapper {
	opacity: 0;
	animation: revealWrapper 500ms forwards;
}

@keyframes revealWrapper {
	100% {
		opacity: 1;
	}
}

.fixed-link-container {
	position: fixed;
	bottom: 80px;
	right: 20px;
	z-index: 1;
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	pointer-events: none;
}

.fixed-link-container-btn {
	@include grid-center;
	width: 40px;
	aspect-ratio: 1/1;
	background: var(--blue-clr-8);
	color: #fff;
	border-radius: 10px;
	opacity: 0;
	pointer-events: none;
	animation: revealPhoneBtn 300ms 3.2s forwards;
	transition: scale 0.3s;

	&:hover {
		scale: 1.1;
	}
}

.fixed-link {
	@include grid-center;
	width: 40px;
	aspect-ratio: 1/1;
	background: var(--blue-clr-8);
	color: #fff !important;
	border-radius: 10px;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s, scale 0.3s;

	&:hover {
		scale: 1.1;
	}
}

.fixed-link1 {
	@include grid-center;
	width: 40px;
	aspect-ratio: 1/1;
	background: var(--blue-clr-8);
	color: #fff !important;
	border-radius: 10px;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s 0.1s, scale 0.3s;

	&:hover {
		scale: 1.1;
	}
}

.fixed-link--active {
	opacity: 1;
	pointer-events: all;
	transition: all 0.3s 0.2s, scale 0.3s;
}

.fixed-link1--active {
	opacity: 1;
	pointer-events: all;
	transition: all 0.3s 0.1s, scale 0.3s;
}

.phone-btn {
	position: fixed;
	bottom: 80px;
	right: 20px;
	z-index: 1;
	@include grid-center;
	width: 40px;
	aspect-ratio: 1/1;
	background: var(--blue-clr-8);
	border-radius: 10px;
	opacity: 0;
	pointer-events: none;
	animation: revealPhoneBtn 300ms 3.2s forwards;

	img {
		width: 25px;
	}
}

@keyframes revealPhoneBtn {
	to {
		opacity: 1;
		pointer-events: all;
	}
}
