@use "reset" as *;
@use "variables" as *;
@use "fonts" as *;

html {
    scroll-behavior: smooth;
}

* {
    font-family: "Poppins", serif;
}

#root {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    overflow-x: hidden;
}

.none {
    display: none;
}

.wrapper {
    display: none;
    opacity: 0;
    animation: revealWrapper 500ms forwards;
}

@keyframes revealWrapper {
    to {
        opacity: 1;
    }
}

.phone-call__btn-link {
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 1;
    width: 50px;
    aspect-ratio: 1 / 1;
    padding: 10px;
    background: var(--blue-clr-8);
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    animation: reveal 300ms 3.2s forwards;
}

@keyframes reveal {
    to {
        opacity: 1;
        pointer-events: all;
    }
}
