@use "./../../mixins" as *;

.about-us {
    padding: 0 40px 40px;
    @include flex-center;
    flex-direction: column;
}

.about-us__title {
    text-align: center;
    font-size: clamp(2.5rem, 5vw, 3rem);
    padding: 100px 0;
}

.about-us__mini-title {
    font-size: 24px;
    color: var(--blue-clr);
    padding-bottom: 40px;
}

.about-us__offer-list {
    li {
        list-style: disc;
        list-style-position: inside;
        font-size: clamp(14px, 4vw, 16px);

        ul {
            padding-left: 20px;
        }
    }

    ::marker {
        color: var(--blue-clr);
    }
}

.about-us__grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 40px;
    .team-member {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: max-content;
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 10px;
        p:not(:nth-of-type(2)) {
            opacity: 0.5;
        }
        a {
            opacity: 0.5;
            transition: color 200ms;
            &:hover {
                color: var(--blue-clr);
            }
        }
    }
}

.footer__nav-table {
    // width: 250px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;

    td {
        // border-top: 1px solid rgba(0, 0, 0, 0.25);
        // border-bottom: 1px solid rgba(0, 0, 0, 0.25);

        &:nth-of-type(2) {
            text-align: right;
        }
    }
}

.about-us__gallery {
    columns: 3;
    gap: 40px;

    img {
        margin-bottom: 40px;
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .about-us__grid-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}

@media (max-width: 1000px) {
    .about-us {
        padding: 0 20px 40px;
    }

    .about-us__grid-container {
        gap: 20px;
    }

    .about-us__gallery {
        columns: 2;
        gap: 20px;

        img {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 600px) {
    .about-us__grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .about-us__gallery {
        gap: 10px;

        img {
            margin-bottom: 10px;
        }
    }
}
