@use "./../../mixins" as *;

.about-us {
    padding: 0 40px;
    margin-bottom: 40px;
    @include flex-center;
    flex-direction: column;
}

.about-us__offer-title,
.about-us__gallery-title {
    text-align: center;
    font-size: clamp(2.5rem, 5vw, 3rem);
    padding: 100px 0;
}

.about-us__offer-list {
    li {
        list-style: disc;
        list-style-position: inside;
        font-size: clamp(14px, 4vw, 16px);

        ul {
            padding-left: 20px;
        }
    }

    ::marker {
        color: var(--blue-clr);
    }
}

.about-us__gallery {
    columns: 3;
    gap: 40px;

    img {
        margin-bottom: 40px;
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .about-us {
        padding: 0 20px;
    }

    .about-us__gallery {
        columns: 2;
        gap: 20px;

        img {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 600px) {
    .about-us__gallery {
        gap: 10px;

        img {
            margin-bottom: 10px;
        }
    }
}
