@use "./../../mixins" as *;

.banner {
	position: fixed;
	right: 40px;
	bottom: 40px;
	left: 40px;
	min-height: calc(50% - 40px);
	z-index: 11;
	border-radius: 10px;
	background: var(--blue-clr);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 10px;
	transition: all 0.5s;
}

.banner--hide {
	opacity: 0;
	pointer-events: none;
}

.banner-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.banner__title {
	color: #fff;
}

.banner__close-btn {
	position: relative;
	color: #000;
	background: #fff;
	padding: 10px;
	border-radius: 5px;

	&:hover {
		color: var(--blue-clr);
	}
}

.banner__divider {
	height: 4px;
	margin: 10px 0;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 2px;
}

.banner__info {
	color: #fff;
	// TODO:
	white-space: pre-wrap;
}

@media (max-width: 900px) {
	.banner {
		right: 10px;
		bottom: 10px;
		left: 10px;
		min-height: calc(50% - 20px);
	}
}
